<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.jay.materialdesign"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".materialdesign.CoordinatorLayout.CoordinatorActivity21">
        </activity>
        <activity android:name=".materialdesign.CoordinatorLayout.CoordinatorActivity20">
        </activity>
        <activity android:name=".materialdesign.animation.AnimationActivity1">
        </activity>
        <activity android:name=".materialdesign.animation.AnimationActivity2">
        </activity>
        <activity android:name=".materialdesign.animation.AnimationActivity3">
        </activity>
        <activity android:name=".materialdesign.CoordinatorLayout.CoordinatorDetailActivity"/>
        <activity android:name=".materialdesign.animation.AnimationActivity4">
        </activity>
        <activity android:name=".materialdesign.CoordinatorLayout.BehaviorActivity">
        </activity>
        <activity android:name=".materialdesign.CoordinatorLayout.CoordinatorActivity22">
        </activity>
    </application>

</manifest>